@charset "utf-8";

body,p,h1,h2,h3,h4,h5,h6,ul,dl,dd,td,input,fieldset,textarea,option{ margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none; color:#333;}
img{border:none; vertical-align:top; }
a,input{outline:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:100;}
i,em{font-style:normal;}
body{font:12px "微软雅黑";}
.clear{zoom:1;}
.clear:after{content:"."; display:block; 
clear:both; height:0; visibility:hidden;}
.fl{float:left;}
.fr{float:right;}

.zhuce{
	width: 1040px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
    padding: 80px;
}

.zhuceleft{
	width: 590px;
    float: left;
    overflow: hidden;
}
.zhuceleft ul li{
	overflow: hidden;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
.zhuceleft ul li span{
	    display: block;
    width: 80px;
    font-size: 14px;
    color: #666;
    float: left;
    text-align: right;
    margin-right: 12px;
}
.zhuceleft ul li span i{
	font-family: 宋体;
    color: rgb(220, 15, 80);
    font-size: 14px;
    margin-right: 3px;
}

 .zhuceleft ul li input{
 
 	width: 263px;
    padding: 9px 20px;
    height: 20px;
    border: 1px solid #d6d6d6;
    color: #666;
    float: left;
    margin-right: 15px;
 }  

.erro{
	display: none;
	background: url(../img/error_bg.png) no-repeat 0 center;
    font-size: 14px;
    color: #e92d2f;
    width: auto;
    padding-left: 22px;
    margin: 0;
    line-height: 38px;
    height: 40px;
        position: absolute;
    left: 528px;
}

li .erropw{
	width: 130px;
	line-height: 17px;
}




 #yanzheng{
 	    width: 138px;
 }

 .zhuceleft>p{
 	overflow: hidden;
    margin-top: -15px;
    text-align: right;
    padding-right: 193px;
    height: 48px;
    line-height: 48px;
    color: #666;
    font-size: 14px;
 }

 .zhuceleft>i{
 	display: block;
    overflow: hidden; 
    margin-top: -15px;
    text-align: right;
    padding-right: 193px;
    height: 48px;
    line-height: 48px;
    color: #666;
    font-size: 14px;
}


/*后面的按钮*/
 .zhuceleft>i a{

 	width: 305px;
    float: right;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #dc0f50;
    text-align: center;
    font-size: 18px;
    color: #fff;
 }
   
 .zhuceleft>span{
 	display: block;
    line-height: 20px;
    text-align: right;
    padding-right: 193px;
 }
  .zhuceleft >span a{
  	 color: #666;
    font-size: 16px;
    text-decoration: underline;
  }
    
.zhuceright{
	    float: right;
}
.zhuceright a{
	color: #0077dd;
    text-decoration: none;
    outline: none;
}









